<div class="login" style="background:<%=bacColor%> url(<%=bacImg%>) no-repeat no-repeat center" >
    <div class="container clearfix">
        <form class="login-form">
            <div class="login-header">
                <label class="title">会员登录</label><a href="#/register" class="register">免费注册</a>
            </div>
            <div class="bt-input-group bt-left-center-inner">
                <span class="bt-input-add glyphicon glyphicon-user"></span>
                <input type="text" class="user bt-input-control" name="user">
            </div>
            <div class="bt-input-group bt-left-center-inner">
                <span class="bt-input-add glyphicon glyphicon-lock"></span>
                <input type="password" class="password bt-input-control" name="password">
            </div>
            <div class="bt-input-group">
                <a class="bt-btn bt-btn-primary bt-btn-md">登 录</a>
                <a class="bt-btn bt-btn-danger bt-btn-md" style="margin-top: 20px;">登 录</a>
            </div>
        </form>
    </div>
</div>