<div class="cow_row cow_menu_user_bar">
    <ul class="cow_col_5">
        <li class="cow_col_left"><a href="/login_register.html">请登录</a></li>
        <li class="cow_col_left"><a href="/login_register.html#/register">免费注册</a></li>
    </ul>
    <ul class="cow_col_19">
        <li class="cow_col_right"><a href="">新手指南</a></li>
        <li class="cow_col_right"><a href="">会员福利</a></li>
        <li class="cow_col_right"><a href="">我的账号</a></li>
        <li class="cow_col_right"><a href="">我的供求</a></li>
        <li class="cow_col_right"><a href="">我的订单</a></li>
        <li class="cow_col_right"><a href="">我的消息</a></li>
    </ul>
</div>