<div>
    <div class="container op">
        <label class="title">slider 演示</label>
        <div class="js_c_h_slider"></div>
    </div>

    <div class="container">
        <label class="title">circleList 演示</label>
        <div class="js_c_circle_list"></div>
    </div>
    <div class="container">
        <label class="title">circleList 演示</label>
        <div class="js_c_circle_list"></div>
    </div>


    <div class="container">
        <label class="title">modal 演示</label>
        <button class="cow_btn modal_button" data-target="#modal_demo" data-toggle="modal">Modal</button>
    </div>

    <div class="cow_modal fade" id="modal_demo">
        <div class="cow_modal_dialog">
            <div class="cow_modal_content">
                <div class="cow_modal_header">
                    <h4 class="cow_modal_title">Modal Title</h4>
                </div>
                <div class="cow_modal_body">
                    <p>Modal body...</p>
                </div>
                <div class="cow_modal_footer cow_row">
                    <button class="cow_btn cow_col_right">Save changes</button>
                    <button class="cow_btn cow_col_right">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <label class="title">动态 dropdown 演示</label>
        <div class="cow_row">
            <div class="cow_col_6 js_c_dropdown"></div>
        </div>
    </div>

    <div class="container">
        <label class="title">级联城市选择演示</label>
        <div class="cow_row">
            <div class="js_c_cascade_city"></div>
        </div>
    </div>
    <div class="container" style="margin-top: 200px;height: 10px; "></div>
</div>