<div class="logo-search bt-h-group">
    <div class="logo">
        <a href="/" style="color: #F7F7F7"><img src="../../images/logo.png" alt="压货"></a>
    </div>
    <div class="search-box bt-f-r js-search">
        <div>
            <ul class="bt-h-group" style="margin-bottom: -4px;">
                <li><a class="search-type active" data-search-type="sale" href="javascript:;;">找货</a></li>
                <li class="bt-f-r"><a class="search-type" data-search-type="buy" href="javascript:;;">找采购</a></li>
            </ul>
        </div>
        <div class="bt-h-group" style="width: 100%">
            <div class="search-input-group bt-input-group bt-left-center-inner">
                <span class="bt-input-add glyphicon glyphicon-search"></span>
                <input type="text" class="search-input bt-input-control" >
            </div>
            <a class="search-button bt-f-r bt-btn bt-btn-primary bt-btn-md" href="javascript:void(0)">搜索</a>
        </div>
        <!--<div class="hot-search">-->
        <!--<label>热门搜索：</label>-->
        <!--<span><a href="">本乙烯</a></span>-->
        <!--<span><a href="">本乙烯</a></span>-->
        <!--<span><a href="">本乙烯</a></span>-->
        <!--<span><a href="">本乙烯</a></span>-->
        <!--</div>-->
    </div>
</div>