<div class="cow_circle_list">
    <table class="cow_table cow_circle_content" id="cow_circle_content">
        <tbody>
        <%
         var row,rows = tableData.rows;
        for(var j = 1,len = rows.length ; j < len ; j++){
            row = rows[j];
        %>
        <tr class="tr-<%=j%> item <% if(j == (len-1)){%> cow_hide <%}%>">
            <script>
                new BT.TableRow({
                    wrapper:'#cow_circle_content .tr-<%=j%>',
                    data:{
                        colAttributes:<%=JSON.stringify(tableData.colAttributes)%>,
                        rowId:<%=j%>,
                        row:<%=JSON.stringify(row)%>
                    }
                });
            </script>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>