<div>
    <style>
        .custom-date-style{
            text-decoration: line-through;
        }
    </style>
    <label>时间选择</label>
    <div class="bt-input-group bt-right-center-inner" id="picker-box-1" style="width: 200px;margin-top: 5px">
        <span class="bt-input-add glyphicon glyphicon-th"></span>
        <input class="bt-input-control" id="date-picker-1" type="text">
    </div>
    <label>设置默认时间</label>
    <div class="bt-input-group bt-right-center-inner" id="picker-box-2" style="width: 200px;margin-top: 5px">
        <span class="bt-input-add glyphicon glyphicon-th"></span>
        <input class="bt-input-control" id="date-picker-2" type="text">
    </div>
    <label>禁止所有周末</label>
    <div class="bt-input-group bt-right-center-inner" id="picker-box-3" style="width: 200px;margin-top: 5px">
        <span class="bt-input-add glyphicon glyphicon-th"></span>
        <input class="bt-input-control" id="date-picker-3" type="text">
    </div>
    <label>日期过滤</label>
    <div class="bt-input-group bt-right-center-inner" id="picker-box-4" style="width: 200px;margin-top: 5px">
        <span class="bt-input-add glyphicon glyphicon-th"></span>
        <input class="bt-input-control" id="date-picker-4" type="text">
    </div>
    <form class="bt-form inline">
        <div class="bt-input-group">
            <label>日期：</label>
            <input class="bt-input-control" type="text">
        </div>
    </form>
</div>